<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Poder</th>
    <th>Universo</th>
    <th>Data Cadastro</th>
    <th></th>
  </tr>
  <tr *ngFor="let heroi of herois | async">
    <td>{{ heroi.nome }}</td>
    <td>
        <span *ngFor="let p of heroi.poderes">
          +{{ p.nome }} 
        </span>
    </td>
    <td>{{ heroi.universo.nome }}</td>
    <td>{{ heroi.dataCadastro | date : 'dd/MM/yyyy' }}</td>
    <td><a (click)="onDelete(heroi)"><span class="glyphicon glyphicon-trash"></span></a></td>
  </tr>
</table>
<a [routerLink]="['/novo']" class="btn btn-primary btn-block">Novo Heroi</a>