<div *ngIf="herois | async as lista">
<table class="table table-striped" *ngIf="lista.length else listaVazia">
  <tr>
    <th>Nome</th>
    <th>Poder</th>
    <th>Universo</th>
    <th>Data Cadastro</th>
    <th></th>
  </tr>
  <tr *ngFor="let heroi of lista">
    <td><span class="glyphicon glyphicon-user"></span> {{ heroi.nome }}</td>
    <td>
        <span *ngFor="let p of heroi.poderes">
          +{{ p.nome }} 
        </span>
    </td>
    <td>{{ heroi.universo.nome }}</td>
    <td>{{ heroi.dataCadastro | date : 'dd/MM/yyyy' }}</td>
    <td><button type="button" class="btn btn-default" (click)="onDelete(heroi)">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    </td>
  </tr>
</table>
</div>
<ng-template #listaVazia>
  <div class="text-center">
    <h4>Não existem heróis cadastrados.</h4>
  </div>
</ng-template>

<a [routerLink]="['/novo']" class="btn btn-primary btn-block">Novo Heroi</a>