<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome">
    <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório">
    </app-campo-control-erro>
  </div>
  <div class="form-group">
    <label for="poder">Poder:</label>
    <ng-multiselect-dropdown
            name="city"
            [placeholder]="'Poder(es)'"
            [data]="lista"
            formControlName="poderes"            
            [settings]="dropdownSettings"
            [ngClass]="aplicaCssErro('poderes')">
        </ng-multiselect-dropdown>
    <app-campo-control-erro [mostrarErro]="verificaValidTouched('poderes')" msgErro="Poder é obrigatório">
      </app-campo-control-erro>
  </div>
  <div class="form-group">
    <label for="universo">Universo:</label>
    <select class="form-control" id="universo" formControlName="universo" placeholder="Universo">
      <option *ngFor="let u of universos | async" [ngValue]="u">{{ u.nome }}</option>
    </select>
    <app-campo-control-erro [mostrarErro]="verificaValidTouched('universo')" msgErro="Universo é obrigatório">
      </app-campo-control-erro>
  </div>
  <button class="btn btn-primary" [disabled]="!formulario.valid">Salvar</button>
</form>